body {
    margin: 0;
    padding: 0;
}

/******************Background Color***/

.navbar {
    background-color: #e3d888;
}

.footer-menu {
    background-color: #e3d888;
}

/******************Navbar***/

.navbar {
    height: 210px;
    margin-bottom: 100px;
}

.navbar a:hover {
    color: #515751;
}

.navbar a {
    color: #5c95ff;
    font-size: 300%;
}

.navbar-nav .nav-link {
    color: #5c95ff;
    font-size: 150%;
}

.navbar-nav li .active {
    color: #515751;
}

.navbar .navbar-nav a:hover {
    color: #515751;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    text-align: right;
}

/********************Main body***/

.main-section {
    margin-top: 210px;
}

/********************Footer***/

.list-inline {
    text-align: center;
    margin-top: 12px;
}

.list-inline-item {
    color: #5c95ff;
}

.list-inline-item a {
    color: #5c95ff;
}

.list-inline-item a:hover {
    color: #515751;
}

.fa-facebook-square {
    font-size: 200%;
}

/********************Media queries***/

@media only screen and (min-width: 992px) {
    .navbar {
        height: 90px;
        margin-bottom: 0;
    }

    .main-section {
        margin-top: 100px;
    }
}
