@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700;1,900&family=Permanent+Marker&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/******************Background Color***/

.navbar {
    background-color: #e3d888;
}

.footer-menu {
    background-color: #e3d888;
}

.large-image-top {
    background-color: blue;
}

.first-image-section {
    background-color: #e3d888;
}

.hr-line {
    border-top: 3px solid #5c95ff;
}

/******************Navbar***/

.navbar {
    height: 210px;
    margin-bottom: 100px;
}

.navbar a:hover {
    color: #515751;
}

.navbar a {
    color: #5c95ff;
    font-size: 300%;
}

.navbar-nav .nav-link {
    color: #5c95ff;
    font-size: 150%;
}

.navbar-nav li .active {
    color: #515751;
}

.navbar .navbar-nav a:hover {
    color: #515751;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    text-align: right;
    font-family: "Permanent Marker", "Lato", sans-serif;
}

/********************Main body***/

h1,
h2,
h3 {
    font-family: "Permanent Marker", "Lato", sans-serif;
    font-size: 150%;
    text-align: center;
}

.main-section {
    margin-top: 210px;
    margin-bottom: 75px;
}

.first-image-section {
        margin: auto 0;
}

.first-image-section i {
    font-size: 125%;
    color: #5c95ff;
    margin-right: 5px;
    margin-top: 5px;
}

/***.large-text-top {
    text-align: center;
}***/

/********************Footer***/

.list-inline {
    text-align: center;
    margin-top: 12px;
}

.list-inline-item {
    color: #5c95ff;
}

.list-inline-item a {
    color: #5c95ff;
}

.list-inline-item a:hover {
    color: #515751;
}

.fa-facebook-square {
    font-size: 200%;
}

/********************Media queries***/

@media only screen and (min-width: 992px) {
    .navbar {
        height: 90px;
        margin-bottom: 0;
    }

    .main-section {
        margin-top: 100px;
    }
}
